body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
}

h1 {
  font-size: 18px;
  color: #333;
}

button {
  background-color: #0074d9;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

#colorDisplay {
  width: 100px;
  height: 100px;
  margin-top: 20px;
}

#colorPicker {
  width: 200px;
  height: 50px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.colorBox {
  width: 20px;
  height: 20px;
  margin: 10px 5px;
  border: 1px solid #cccccc;
  cursor: pointer;
  display: inline-block;
}

/* Set the background color of each square box to the corresponding color in the palette */
.colorBox:nth-child(1) {
  background-color: #ffffff;
}
.colorBox:nth-child(2) {
  background-color: #000000;
}
.colorBox:nth-child(3) {
  background-color: #ff0000;
}
.colorBox:nth-child(4) {
  background-color: #00ff00;
}
.colorBox:nth-child(5) {
  background-color: #0000ff;
}
